meta(charset="UTF-8")
title
    | Ahrefs
link(rel="stylesheet" href=cssBundle)
meta(name="viewport" content="width=device-width, initial-scale=0, maximum-scale=2")
link(href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i", rel="stylesheet")
link(rel="icon" type="image/ico" sizes="16x16" href="./images/favicon-16x16.ico")
script(src="http://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous")
script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-85373531-1', 'auto');
    ga('send', 'pageview');
