.page__part.page__part_2
    .page__title
        | The tools you get with Ahrefs
    .page__content
        .tools
            .tools__switchers
                .tools__switcher.tools__switcher_active
                    .tools__switcher-icon
                        .tools__switcher-icon-img
                            +insertSVG('icon-tool-site-explorer')
                    .tools__switcher-text
                        | Site Explorer
                .tools__switcher
                    .tools__switcher-icon
                        .tools__switcher-icon-img
                            +insertSVG('icon-tool-hand')
                    .tools__switcher-text
                        | Position Explorer
                .tools__switcher
                    .tools__switcher-icon
                        .tools__switcher-icon-img
                            +insertSVG('icon-tool-crawl-report')
                    .tools__switcher-text
                        | Content Explorer
                .tools__switcher
                    .tools__switcher-icon
                        .tools__switcher-icon-img
                            +insertSVG('icon-tool-explorer')
                    .tools__switcher-text
                        | Position Tracker
                .tools__switcher
                    .tools__switcher-icon
                        .tools__switcher-icon-img
                            +insertSVG('icon-tool-position-explorer')
                    .tools__switcher-text
                        | Crawl Report
                .tools__switcher
                    .tools__switcher-icon
                        .tools__switcher-icon-img
                            +insertSVG('icon-tool-position-tracker')
                    .tools__switcher-text
                        | Ahrefs Alerts
            .tools__content
                .tools__content-slide.tools__content-slide_active
                    .tools__text
                        .tools__text-title
                            | Site Explorer
                        .tools__text-subtitle
                            | The best backlink checker tool in the industry
                        .tools__text-content
                            | Take a detailed look at a backlink profile of any website or URL: what websites link to it, what anchors they use, how strong are these backlinks, etc.
                        .tools__text-content
                            | Track how backlinks amount grows over time and perform an in-depth backlink analysis using our advanced reports and handy filtering options.
                        .tools__screen
                            .tools__screen-img.tools__screen-img_1
                .tools__content-slide
                    .tools__text
                        .tools__text-title
                            | Positions Explorer
                        .tools__text-subtitle
                            | Analyze your competitors' search traffic
                        .tools__text-content
                            | Get an email notification whenever you or your competitors get a new backlink or lose one. You’ll see exactly where any new backlinks are coming from.
                        .tools__text-content
                            | Ahrefs will also notify you whenever someone mentions your business or any keywords you want to monitor. Learn exactly what people are saying about you and your competitors in real time.
                        .tools__screen
                            .tools__screen-img.tools__screen-img_2
                .tools__content-slide
                    .tools__text
                        .tools__text-title
                            | Content Explorer
                        .tools__text-subtitle
                            | Discover the content that's working well in your niche
                        .tools__text-content
                            | Find out what content is getting the most shares and backlinks so you can build a winning content strategy.
                        .tools__text-content
                            | You’ll see every site that's linking to a popular piece of content, so you can create a list of outreach targets for your linkbuilding campaign.
                        .tools__screen
                            .tools__screen-img.tools__screen-img_3
                .tools__content-slide
                    .tools__text
                        .tools__text-title
                            | Position Tracker
                        .tools__text-subtitle
                            | Get accurate, daily ranking data
                        .tools__text-content
                            | Track your keyword rankings in all countries and languages, and find out how well you rank on mobile devices.
                        .tools__text-content
                            | We'll show you your position history over time and send you weekly/monthly ranking reports so you can track your progress without leaving your inbox.
                        .tools__screen
                            .tools__screen-img.tools__screen-img_4
                .tools__content-slide
                    .tools__text
                        .tools__text-title
                            | Crawl Report
                        .tools__text-subtitle
                            | Identify and fix common SEO issues on your site
                        .tools__text-content
                            | Run Crawl Reports with just a few clicks and Ahrefs will instantly identify any issues that may be hurting your visibility in search engines and tell you how to fix them.
                        .tools__text-content
                            | We'll check the response codes and loading speed of all your pages, ensuring that every page is perfectly optimised for search.
                        .tools__screen
                            .tools__screen-img.tools__screen-img_5
                .tools__content-slide
                    .tools__text
                        .tools__text-title
                            | Ahrefs Alerts
                        .tools__text-subtitle
                            | Never miss another backlink or mention
                        .tools__text-content
                            | Get an email notification whenever you or your competitors get a new backlink or lose one. You’ll see exactly where any new backlinks are coming from.
                        .tools__text-content
                            | Ahrefs will also notify you whenever someone mentions your business or any keywords you want to monitor. Learn exactly what people are saying about you and your competitors in real time.
                        .tools__screen
                            .tools__screen-img.tools__screen-img_6
