.page__part.page__part_6
    .page__title
        | Try Ahrefs for free
    .page__subtitle
        | Registering your trial will only take a few minutes and then you'll be able to use all Ahrefs premium features for 14 days free of charge
    .page__content
        .tryfree
            .tryfree__button
                button.button.button_main.button_big
                    span
                        | Start FREE 14-day trial
