.page__part.page__part_1
    .topline
        .topline__left
            a.topline__logo(href='.')
            .topline__links
                .topline__link
                    a.link.link_topline(href="#")
                        |Tools
                .topline__link
                    a.link.link_topline(href="#")
                        |Plans & Pricing
                .topline__link
                    a.link.link_topline(href="#")
                        |Help
                .topline__link
                    a.link.link_topline(href="#")
                        |About

        .topline__login
            button.button.button_topline.button_flat.button_small
                span
                    | Start free trial
            span.topline__login-delimiter
                | or
            .topline__link.topline__link_signin
                a.link.link_topline(href="#")
                    | Sign in
    .page__title
        | Powerful toolset for SEO and beyond
    .page__subtitle
        | Track your backlinks, keywords, brand mentions and know what your competitors are doing
    .page__content
        .main
            .main__content
                .main__btn
                    button.button.button_main.button_medium
                        span
                            | Start FREE 14-day trial
            .main__laptop
                img.main__laptop-body(src="./images/macbook.png")
    .page__bg
        .page__wave1
            +insertSVG('wave1')
        .page__wave3
            +insertSVG('wave3')
        .page__wave2
            +insertSVG('wave2')
