.page__part.page__part_4
    .page__content
    .testimonials
        .testimonials__cards
            .testimonials__card.testimonials__card_active
                .testimonials__icon
                .testimonials__text
                    | I love Ahrefs for the quality of their data. They do a great job of crawling the web and the metrics they give you are pretty accurate. Ahrefs is a great tool. The data is fresh, the usability is fantastic and you guys keep adding great new features to the platform.
                .testimonials__author
                    .testimonials__avatar
                        .testimonials__avatar-img(style="background-image:url('./images/avatar1.jpg')")
                    .testimonials__desc
                        .testimonials__name
                            | Rhea Drysdale
                        .testimonials__position
                            | CEO at &nbsp;
                            a.link.link_underline-dark.link_dark(href='http://outspokenmedia.com/', target="_blank")
                                | Outspoken Media
            .testimonials__card
                .testimonials__icon
                .testimonials__text
                    | At Outspoken Media, we rely on Ahrefs daily to help us achieve great results for our clients. What makes Ahrefs invaluable to us is its intuitive design, reliable data, and innovative features. Ahrefs is a must-have for serious digital marketers and SEOs.
                .testimonials__author
                    .testimonials__avatar
                        .testimonials__avatar-img(style="background-image:url('./images/avatar2.jpg')")
                    .testimonials__desc
                        .testimonials__name
                            | Jon Cooper
                        .testimonials__position
                            | founder of &nbsp;
                            a.link.link_underline-dark.link_dark(href='http://pointblankseo.com', target="_blank")
                                | Pointblankseo
            .testimonials__card
                .testimonials__icon
                .testimonials__text
                    | We use Ahrefs mainly for its site explorer, and it’s immensely improved how we find link targets. We use it both for getting quick analysis of a site, as well as utilizing it’s extensive index when we want to dive deep. It’s invaluable to have one tool that can do both of those things.
                .testimonials__author
                    .testimonials__avatar
                        .testimonials__avatar-img(style="background-image:url('./images/avatar3.jpg')")
                    .testimonials__desc
                        .testimonials__name
                            | Aaron Wall
                        .testimonials__position
                            | founder of &nbsp;
                            a.link.link_underline-dark.link_dark(href='http://www.seobook.com', target="_blank")
                                | Seobook
            .testimonials__card
                .testimonials__icon
                .testimonials__text
                    | When it comes to backlink analysis, Ahrefs is my #1 go-to tool. I've tested over 25 link analysis tools and none come close to Ahref's in terms of index size, freshness and overall usability. If you're serious about SEO, you need Ahrefs.
                .testimonials__author
                    .testimonials__avatar
                        .testimonials__avatar-img(style="background-image:url('./images/avatar4.jpg')")
                    .testimonials__desc
                        .testimonials__name
                            | Brian Dean
                        .testimonials__position
                            | founder of &nbsp;
                            a.link.link_underline-dark.link_dark(href='http://backlinko.com', target="_blank")
                                | Backlinko

        .testimonials__dots
            .testimonials__dot.testimonials__dot_active
                .testimonials__dot-round
            .testimonials__dot
                .testimonials__dot-round
            .testimonials__dot
                .testimonials__dot-round
            .testimonials__dot
                .testimonials__dot-round
