.page__part.page__part_3
    .page__title
        | The biggest and most accurate database of live backlinks
    .page__bg
        canvas(id="randomDots" width="2000" height="1500")
    .page__content
        .metrics
            .metrics__line
                .metrics__cell.metrics__cell_40
                    .metrics__index
                        | Every day we crawl
                    .metrics__digit
                        .metrics__highlighted
                            | 5
                    .metrics__desc
                        .metrics__desc-line
                            .metrics__highlighted
                                |billion
                        .metrics__desc-line
                            |web pages

                .metrics__cell.metrics__cell_60
                    .metrics__index
                        | Our index size:
                    .metrics__digit
                        .metrics__highlighted
                            | 12
                    .metrics__desc
                        .metrics__desc-line
                            .metrics__highlighted
                                | trillion
                        .metrics__desc-line
                            | known links

            .metrics__line
                .metrics__cell.metrics__cell_60
                    .metrics__digit
                        .metrics__highlighted
                            | 200
                    .metrics__desc
                        .metrics__desc-line
                            .metrics__highlighted
                                .metrics__highlighted
                                    | million &nbsp;
                                | root
                        .metrics__desc-line
                            | domains

                .metrics__cell.metrics__cell_40
                    .metrics__digit
                        .metrics__highlighted
                            | 2
                    .metrics__desc
                        .metrics__desc-line
                            .metrics__highlighted
                                | trillion
                        .metrics__desc-line
                            | known URLs

            .metrics__line
                .metrics__cell.metrics__cell_45
                    .metrics__index
                        | Powered by:
                    .metrics__digit
                        .metrics__highlighted
                            | 10
                    .metrics__desc
                        .metrics__desc-line
                            .metrics__highlighted
                                | petabytes
                        .metrics__desc-line
                            | of storage

                .metrics__cell.metrics__cell_55
                    .metrics__digit
                        .metrics__highlighted
                            | 5000
                    .metrics__desc
                        .metrics__desc-line
                            .metrics__highlighted
                                | CPU
                        .metrics__desc-line
                            | cores
