.page__part.page__part_7
    .page__content
        .footer
            .footer__left
                a.footer__logo(href=".")
                .footer__desc
                    |© 2016 Ahrefs Pte Ltd. 16 Raffles Quay, #33-03 Hong Leong Building, Singapore
                .footer__terms
                    .footer__terms-link
                        a.link.link_terms(href='#')
                            |Terms & Conditions
                    .footer__terms-delimiter
                        | |&nbsp;
                    .footer__terms-link
                        a.link.link_terms(href='#')
                            |Privacy Policy
            .footer__right
                .footer__links
                    .footer__link
                        a.link.link_footer(href='#')
                            |About
                    .footer__link
                        a.link.link_footer(href='#')
                            |Jobs
                    .footer__link
                        a.link.link_footer(href='#')
                            |Affiliate
                    .footer__link
                        a.link.link_footer(href='#')
                            |Help
                    .footer__link
                        a.link.link_footer(href='#')
                            |Contact
                .footer__lang
                    a.link.link_footer.link_lang(href='#')
                        | English
