.page__part.page__part_5
    .page__title
        | Plans & pricing
    .page__subtitle
        | Pick the package that suits you best and register your Ahrefs account
    .page__content
        .pricing
            .pricing__tabs
                .pricing__tab.pricing_tab_1(data-price-mode="monthly")
                    .pricing__tab-text
                        |Monthly pricing
                .pricing__tab.pricing__tab_2.pricing__tab_selected(data-price-mode="annual")
                    .pricing__tab-text
                        |Annual pricing
            .pricing__cards
                .pricing__card
                    .card
                        .card__title
                            | Lite
                        .card__price
                            .card__currency
                                | $
                            .card__numbers(data-monthly="79", data-annual="66")
                                | 66
                            .card__labels
                                .card__label.card__label_top.card__label_top_visible
                                    | $ 79
                                .card__label.card__label_bottom
                                    | /month
                        .card__info
                            .card__counts
                                .card__count
                                    | 3 Campaigns
                                    .card__tip
                                        .card__tip-content
                                            | This is when you add your site to Ahrefs’ Dashboard and we automate some of your SEO work for you: check your domain SEO health, notify you of new and lost backlinks, track your keyword rankings, etc.
                                .card__count
                                    | 250 Tracked keywords
                                    .card__tip
                                        .card__tip-content
                                            | This is when you add your site to Ahrefs’ Dashboard and we automate some of your SEO work for you: check your domain SEO health, notify you of new and lost backlinks, track your keyword rankings, etc.
                                .card__count
                                    | 5 Million rows/month
                                    .card__tip
                                        .card__tip-content
                                            | This is when you add your site to Ahrefs’ Dashboard and we automate some of your SEO work for you: check your domain SEO health, notify you of new and lost backlinks, track your keyword rankings, etc.

                            .card__functions
                                .card__function
                                    | Site Explorer
                                .card__function
                                    | Positions Explorer
                                .card__function
                                    | Content Explorer
                                .card__function
                                    | Rank Tracker
                                .card__function
                                    | Crawl Report
                                .card__function
                                    | Ahrefs Alerts
                        .card_button
                            button.button.button_flat.button_wide.button_medium.button_dark.button_card
                                span
                                    | Free 14-day trial


                .pricing__card
                    .card
                        .card__title
                            |Standart
                            .card__hint
                                | Best value
                        .card__price
                            .card__currency
                                |$
                            .card__numbers(data-monthly="179", data-annual="149")
                                |149
                            .card__labels
                                .card__label.card__label_top.card__label_top_visible
                                    |$ 179
                                .card__label.card__label_bottom
                                    |/month
                        .card__info
                            .card__counts
                                .card__count
                                    |10 Campaigns
                                    .card__tip
                                        .card__tip-content
                                            |This is when you add your site to Ahrefs’ Dashboard and we automate some of your SEO work for you: check your domain SEO health, notify you of new and lost backlinks, track your keyword rankings, etc.
                                .card__count
                                    | 750 Tracked keywords
                                    .card__tip
                                        .card__tip-content
                                            | This is when you add your site to Ahrefs’ Dashboard and we automate some of your SEO work for you: check your domain SEO health, notify you of new and lost backlinks, track your keyword rankings, etc.
                                .card__count
                                    |30 Million rows/month
                                    .card__tip
                                        .card__tip-content
                                            |This is when you add your site to Ahrefs’ Dashboard and we automate some of your SEO work for you: check your domain SEO health, notify you of new and lost backlinks, track your keyword rankings, etc.

                            .card__functions
                                .card__function
                                    |Site Explorer
                                .card__function
                                    |Positions Explorer
                                .card__function
                                    |Content Explorer
                                .card__function
                                    | Rank Tracker
                                .card__function
                                    | Crawl Report
                                .card__function
                                    | Ahrefs Alerts
                        .card_button
                            button.button.button_main.button_wide.button_medium.button_card
                                span
                                    | Free 14-day trial

                .pricing__card
                    .card
                        .card__title
                            |Advanced
                        .card__price
                            .card__currency
                                |$
                            .card__numbers(data-monthly="399", data-annual="332")
                                |332
                            .card__labels
                                .card__label.card__label_top.card__label_top_visible
                                    |$ 399
                                .card__label.card__label_bottom
                                    |/month
                        .card__info
                            .card__counts
                                .card__count
                                    |30 Campaigns
                                    .card__tip
                                        .card__tip-content
                                            |This is when you add your site to Ahrefs’ Dashboard and we automate some of your SEO work for you: check your domain SEO health, notify you of new and lost backlinks, track your keyword rankings, etc.
                                .card__count
                                    | 2500 Tracked keywords
                                    .card__tip
                                        .card__tip-content
                                            | This is when you add your site to Ahrefs’ Dashboard and we automate some of your SEO work for you: check your domain SEO health, notify you of new and lost backlinks, track your keyword rankings, etc.
                                .card__count
                                    |125 Million rows/month
                                    .card__tip
                                        .card__tip-content
                                            |This is when you add your site to Ahrefs’ Dashboard and we automate some of your SEO work for you: check your domain SEO health, notify you of new and lost backlinks, track your keyword rankings, etc.

                            .card__functions
                                .card__function
                                    |Site Explorer
                                .card__function
                                    |Positions Explorer
                                .card__function
                                    |Content Explorer
                                .card__function
                                    | Rank Tracker
                                .card__function
                                    | Crawl Report
                                .card__function
                                    | Ahrefs Alerts
                        .card_button
                            button.button.button_flat.button_wide.button_medium.button_dark.button_card
                                span
                                    |Subscribe

            .pricing__compare-link
                a.link.link_underline(href='#')
                    | Compare the full list of features
