include includes/_mixin.jade

doctype html
html(lang="ru")
    head
        include includes/head.jade
    body(ontouchstart="")
        div(style="position:absolute;top:0;left:0;width:0;height:0;overflow:hidden;")
            | !{ svg }

        .page
            include includes/page1.jade
            include includes/page2.jade
            include includes/page3.jade
            include includes/page4.jade
            include includes/page5.jade
            include includes/page6.jade
            include includes/page7.jade

        script(src=jsBundle)
