@media screen
and (max-width: 550px) {
    .button{
        &_topline{
            display: none;
        }
    }
    .topline{
        &__login{
            float: none;
            text-align: center;
            margin: 0 auto;
            display: block;
            position: absolute;
            top: 14px;
            right: 20px;
        }

        &__login-delimiter{
            display: none;
        }

        &__link{
            max-width: 260px;
            &:first-child{
                margin-left: 0;
            }
            &_signin{
                top: 5px;
            }

        }

        &__links{
            white-space: nowrap;
            margin-right: 60px;
        }

        &__left{
            margin-bottom: 10px;
        }
    }
    .metrics{
        max-width: 630px;
        margin: 0 auto;

        &__index {
            font-size: 10px;
            top: -8px;
        }
        &__desc{
            font-size: 17px;
        }
        &__digit{
            font-size: 51px;
        }
        &__cell {
            padding: 0px 0px 20px 5px;
        }
    }

    .page{
        &__title {
            font-size: 36px;
            padding-left: 10px;
            padding-right: 10px;
        }
        &__subtitle {
            font-size: 17px;
        }

        &__part{
            &_1{
                @nest & .page{
                    &__title {
                        font-size: 36px;
                        margin-bottom: 30px;
                        padding-top: 0px;
                    }
                }
            }
            &_2{
                padding-top: 60px;
                @nest & .page{
                    &__title {
                        margin-bottom: 30px;
                    }
                }
            }
            &_3{
                padding-top: 50px;
                padding-bottom: 60px;
                @nest & .page{
                    &__title {
                        margin-bottom: 40px;
                        font-size: 36px;
                    }
                }
            }
            &_4{
                padding: 30px 20px 30px 20px;
            }
            &_5{
                padding-top: 30px;
                padding-bottom: 30px;

                @nest & .page{
                        &__subtitle {
                            margin-bottom: 20px;
                            padding: 0 20px;
                        }
                    }
                }
            &_6{
                padding-top: 50px;
                padding-bottom: 60px;
            }
            &_7{
                padding-top: 50px;
                padding-bottom: 60px;
            }
        }

    }

    .main{

    }

    .testimonials{
        &__text{
            padding: 0;
            font-size: 20px;
            margin-bottom: 40px;
        }

        &__author {
            margin-bottom: 35px;
        }

        &__dots{
            padding-top: 0;
        }

        &__icon{
            margin-bottom: 25px;
            height: 38px;
            width: 64px;
            background-size: 64px 38px;
        }

        &__cards{
            min-height: 480px;
        }
    }

    .pricing {
        &__tab{
            display: block;

            &:first-child{
                border-radius: 5px 5px 0px 0px;
            }

            &:last-child{
                border-radius: 0px 0px 5px 5px;
            }
        }
        &__card{
            width: initial;
            margin-bottom: 10px;
            text-align: left;
        }
        &__cards{
            margin-bottom: 0px;
            text-align: center;
        }
        &__tabs{
            margin-bottom: 25px;
        }
    }

    .card {
        padding: 20px 15px 15px 20px;
    }

    .tools{
        &__text{
            width: 265px;
            margin-bottom: 20px;
        }

        &__text-title{
            font-size: 28px;
        }

        &__screen{
            top: -5px;
        }

        &__switcher-icon{
            width: 40px;
            height: 40px;
        }

        &__switchers{
            padding: 0;
            margin-bottom: 10px;

            &:before{
                top: 60px;
            }
        }

        &__switcher{
            &_active{
                &:after{
                    bottom: -6px;
                    left: -8px;
                    right: -8px;
                }
            }
        }

        &__switcher-icon{
            width: 40px;
            height: 40px;
        }

        &__switcher-text{
            display: none;
        }
    }

    .metrics{
        &__digit{
            font-size: 37px;
        }
        &__desc{
            font-size: 14px;
        }
    }

    .page{
        &__title {
            font-size: 30px;
        }
    }

    .pricing{
        &__card{
            width: 100%;
        }
    }

    .footer{
        &__left{
            margin-bottom: 15px;
        }
        &__links{
            margin-bottom: 15px;
        }
        &__right{
            position: static;
        }
    }

}


@media screen
and (max-width: 800px)
and (min-width: 551px) {
    .tools{
        &__switcher-text{
            display: none;
        }
        &__switchers{
            &:before{
                top: 113px;
            }
        }
    }

    .pricing {
        &__card{
            width: initial;
            margin-bottom: 10px;
            text-align: left;
        }
        &__cards{
            margin-bottom: 0px;
            text-align: center;
        }
    }

    .testimonials{
        &__cards{
            min-height: 380px;
        }
    }
}


@media screen
and (max-width: 1024px)
and (min-width: 551px) {
    .button{
        &_topline{
            display: none;
        }
    }

    .topline{
        &__login-delimiter{
            display: none;
        }
        &__link{
            &_signin{
                top: 0px;
            }
        }

    }
    .metrics{
        max-width: 630px;
        margin: 0 auto;

        &__index {
            font-size: 14px;
            top: -11px;
        }
        &__desc{
            font-size: 24px;
        }
        &__digit{
            font-size: 70px;
        }
        &__cell {
            padding: 10px 25px 25px 25px;
        }
    }

    .page{
        &__part{
            &_1{
                @nest & .page{
                    &__title {
                        font-size: 36px;
                        margin-bottom: 30px;
                        padding-top: 20px;
                    }
                }
            }
            &_2{
                padding-top: 60px;
                @nest & .page{
                    &__title {
                        margin-bottom: 30px;
                    }
                }
            }
            &_3{
                padding-top: 50px;
                padding-bottom: 60px;
                @nest & .page{
                    &__title {
                        margin-bottom: 40px;
                    }
                }
            }
            &_4{
                padding: 50px 20px 60px 20px;
            }
            &_5{
                padding-top: 50px;
                padding-bottom: 60px;
                @nest & .page{
                    &__subtitle {
                        margin-bottom: 20px;
                        padding: 0 20px;
                    }
                }
            }
            &_6{
                padding-top: 50px;
                padding-bottom: 60px;
            }
            &_7{
                padding-top: 50px;
                padding-bottom: 60px;
            }
        }

    }

    .main{
        &__button{
            margin-bottom: 26px;
        }
    }

    .testimonials{
        &__text{
            padding: 0;
        }

        &__author {
            margin-bottom: 35px;
        }

        &__icon{
            margin-bottom: 25px;
        }
        &__dots{
            padding-top: 0;
        }
        &__cards{
            height: 440px;
        }
    }

    .pricing {
        &__card{
            width: auto;
            display: block;
            margin-bottom: 10px;
        }
        &__cards{
            margin-bottom: 30px;
        }
        &__tabs{
            margin-bottom: 25px;
        }
    }

    .card {
        max-width: 400px;
        margin: 0 auto;
        margin-bottom: 10px;

        &__counts{
            display: inline-block;
            vertical-align: top;
            margin-right: 40px;
        }
        &__functions{
            display: inline-block;
            vertical-align: top;
        }
    }

    .tools{
        &__switchers{
            padding: 0;
            margin-bottom: 60px;
        }
        &__switcher-text{

        }
        &__screen{
            top: -30px;
        }

    }

}

