.button{
    display: inline-block;
    border: 0;
    color: #ffffff;
    font-size: 12px;
    cursor: pointer;
    outline: none;
    line-height: normal;
    border-radius: 2px;
    text-align: center;
    transition: background 0.1s linear,
                border-color 0.1s linear,
                color 0.1s linear;
    user-select: none;
    position: relative;
    font-family: 'Lato', sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    @nest & span{
        position: relative;
    }

    &:active,
    &:active:hover,
    &:hover:active{
        outline: none;

        @nest & span{
            position: relative;
            top: 1px;
        }
    }

    &_disabled,
    &_disabled:hover,
    &_disabled:active
    {
        background: #EEEEEE;
        color: color(#262626 alpha(40%));
        cursor: default;
    }

    &_main{
        background-color: #ff4e22;
        font-weight: 800;
        font-size: 16px;

        &:hover{
            background-color: #FF8559;
        }

        &:active{
            background-color: #DF7054;
        }
    }

    &_dark{
        border: 1px solid #b2c1d4;
        font-weight: 800;
        color: #0e3f7a;

        &:hover, &:active{
            border: 1px solid #C3D4E4;
            color: #0E74AE;
        }
    }

    &_flat{
        background: transparent;
    }

    &_topline {
        padding: 6px 14px;
        font-size: 16px;
        color: color(#FFF alpha(50%));
        border: 1px solid color(#FFFFFF alpha(40%));
        font-weight: 500;

        &:hover, &:active{
            border-color: color(#FFFFFF alpha(100%));
            color: color(#FFF alpha(100%));
        }

        &:active{
            background: color(var(--colorLink) alpha(5%));
        }
    }

    &_wide{
        width: 100%;
    }

    &_big{
        font-size: 19px;
        padding: 18px 41px;
        font-weight: 600;
    }

    &_medium{
        font-size: 18px;
        padding: 12px 23px;
        font-weight: 400;
    }

    &_card{
        font-size: 16px;
        padding: 12px 23px;
        font-weight: 900;
    }
}
