.card{
    padding: 30px 35px 40px;

    background-color: white;
    border-radius: 5px;
    position: relative;

    &__title{
        font-size: 30px;
        margin-bottom: 5px;
        margin-right: 15px;
        white-space: nowrap;
    }

    &__price{
        display: inline-block;
        white-space: nowrap;
        font-size: 0;
        margin-bottom: 24px;
    }
    &__currency{
        font-size: 24px;
        display: inline-block;
        vertical-align: top;
        position: relative;
        top: 5px;
        margin-right: 3px;
    }

    &__numbers{
        display: inline-block;
        line-height: 1;
        vertical-align: top;
        font-size: 70px;
        font-weight: 900;
    }

    &__labels{
        display: inline-block;
        vertical-align: top;
        height: 64px;
        position: relative;
    }

    &__label{
        &_top{
            font-size: 16px;
            color: #ff4f03;
            position: absolute;
            top: 10px;
            left: 11px;
            text-decoration: line-through;
            display: none;

            &_visible{
                display: block;
            }
        }

        &_bottom{
            font-size: 18px;
            color: #9c9fa6;
            position: absolute;
            bottom: 0;
            left: 2px;
        }

    }

    &__counts{
        font-size: 16px;
        margin-bottom: 23px;
        text-align: left;
    }

    &__count{
        margin-bottom: 10px;
    }

    &__tip{
        height: 15px;
        width: 15px;
        background-color: #dbdbdb;
        display: inline-block;
        vertical-align: middle;
        border-radius: 8px;
        position: relative;
        color: #FFF;
        left: 2px;

        &:after{
            content: '?';
            color: #fff;
            position: relative;
            left: 5px;
            top: -4px;
            font-size: 12px;
        }

        &:hover{
            @nest & .card{
                &__tip-content{
                    display: block;
                }
            }
        }
    }

    &__tip-content{
        font-size: 14px;
        display: none;
        width: 275px;
        position: absolute;
        background-color: #393f4d;
        border-radius: 7px;
        bottom: 15px;
        padding: 18px;
        transform: translate(-130px, -22px);

        &:after{
            content: '';
            display: block;
            position: absolute;
            bottom: -15px;
            left: 50%;
            width: 0;
            height: 0;
            border-left: 17px solid transparent;
            border-right: 17px solid transparent;
            border-top: 15px solid #393f4d;
            transform: translate(-50%);
        }
    }

    &__functions{
        margin-bottom: 35px;
    }

    &__function{
        margin-bottom: 9px;
        font-size: 16px;

        &:before{
            content: '';
            display: inline-block;
            margin-right: 7px;
            position: relative;
            background-image: url(./../images/tick.png);
            background-repeat: no-repeat;
            width: 14px;
            height: 14px;
            top: 2px;
        }
    }

    &__hint{
        font-size: 13px;
        padding: 2px 7px 3px;
        background-color: #393f4d;
        border-radius: 2px;
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        position: relative;
        top: -4px;
        left: 11px;
        font-weight: 600;
    }
}

