.footer{
    position: relative;

    &__left{
        display: inline-block;
        font-size: 13px;
    }

    &__right{
        display: inline-block;
        position: absolute;
        right: 0;
        font-size: 16px;
    }

    &__logo{
        height: 18px;
        width: 75px;
        margin-right: 25px;
        margin-bottom: 20px;
        background-image: url(../images/logo-bw.svg);
        background-repeat: no-repeat;
        line-height: 32px;
        vertical-align: middle;
        position: relative;
        background-size: 75px 18px;
        display: block;
    }

    &__terms-delimiter{
        color: rgba(170, 169, 169, 0.3);
        display: inline-block;
    }

    &__desc{
        margin-bottom: 8px;
        color: #747373;
    }

    &__terms-link{
        display: inline-block;
    }

    &__link{
        margin-right: 12px;
        font-weight: 400;
        display: inline-block;
    }

    &__links{
        margin-right: 32px;
        display: inline-block;
        font-size: 16px;
    }

    &__lang{
        margin-right: 0px;
        display: inline-block;

        &:before{
            content: '';
            display: inline-block;

        }
    }
}
