.link{
    color: var(--colorLink);
    text-decoration: none;
    transition: color var(--animationBase), border-bottom-color var(--animationBase);

    &:hover{
        color: var(--colorLink);
    }

    &_dark{
        color: var(--colorDarkLink);
        &:hover{
            color: #000;
        }
    }

    &_topline{
        color: color(#FFF alpha(50%));
    }

    &_underline{
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);

        &:hover{
            border-bottom-color: rgba(255, 255, 255, 1);
        }
    }

    &_underline-dark{
        display: inline-block;
        border-bottom: 1px solid color(var(--colorDarkLink) alpha(20%));

        &:hover{
            border-bottom:1px solid color(var(--colorDarkLink) alpha(100%));
        }
    }

    &__icon{
        width: 16px;
        height: 16px;
        display: inline-block;
        margin-right: 4px;
        position: relative;
        top: -1px;
    }

    &_footer{
        color: #aaa9a9;
    }

    &_lang{
        &:before{
            content: '';
            display: inline-block;
            width: 16px;
            height: 12px;
            background-image: url(../images/flag.png);
            background-repeat: no-repeat;
            margin-right: 8px;
        }
    }

    &_terms{
        color: color(#aaa9a9 alpha(30%));

        &:hover{
            color: color(#aaa9a9 alpha(70%));
        }
    }

}
