.main{
    text-align: center;

    &__content{
        text-align: center;
        max-width: 650px;
        display: inline-block;
    }

    &__btn{
        margin-bottom: 53px;
    }

    &__laptop{
        position: relative;
        max-width: 795px;
        margin: 0 auto;
        z-index: 2;
        left: 0;
        right: 0;
    }
    &__laptop-body{
        width: 100%;
    }
}
