.metrics{
    &__cell{
        padding: 11px 45px 39px 55px;
        display: inline-block;
        border-top: 1px solid #1a4981;
        white-space: nowrap;
        position: relative;

        &:first-child{
            border-right: 1px solid #1a4981;
        }

        &_30{
            width: 30%;
        }
        &_70{
            width: 70%;
        }
        &_40{
            width: 40%;
        }
        &_50{
            width: 50%;
        }
        &_60{
            width: 60%;
        }
        &_45{
            width: 45%;
        }
        &_55{
            width: 55%;
        }
    }

    &__digit{
        font-size: 127px;
        display: inline-block;
        margin-right: 8px;
    }

    &__desc{
        display: inline-block;
        font-size: 48px;
        color: #fff;
        font-weight: 700;

    }

    &__highlighted{
        display: inline;
        color: #03cea4;
    }

    &__line{
        white-space: nowrap;
        font-size: 0;

        &:last-child{
            border-bottom: 1px solid #1a4981;
        }
    }

    &__index{
        position: absolute;
        font-size: 21px;
        font-weight: 600;
        top: -15px;
        color: #FFF;
        background-color: #0e3f7a;
        padding: 0 10px;
        transform: translateX(-10px);
    }
}
