.page{
    overflow: hidden;
    color: #393f4c;

    &__content{
        @apply --content-wrapper;
        position: relative;
        z-index: 2;
    }

    &__title{
        max-width: 670px;
        margin: 0 auto;
        text-align: center;
        font-size: 48px;
        font-weight: 900;
        line-height: 1.2;
        position: relative;
        z-index: 1;
        padding: 0 10px;
    }

    &__subtitle{
        font-size: 21px;
        text-align: center;
        margin: 0 auto;
        padding: 0 10px;
    }

    &__part{
        background-color: #1f468c;

        &_1{
            background: linear-gradient(to bottom, #1b3580, #31a3be);
            position: relative;

            &:after{
                content: '';
                display: block;
                background-color: #FFF;
                height: 120px;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
            }

            @nest & .page{
                &__title{
                    color: #fff;
                    font-size: 56px;
                    padding-top: 60px;
                    margin-bottom: 19px;
                }

                &__subtitle{
                    color: #fff;
                    max-width: 460px;
                    margin-bottom: 30px;
                }

                &__bg{
                    position: absolute;
                    bottom: 75px;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 400px;
                }

                &__wave1{
                    position: absolute;
                    bottom:0;
                    width: 1607px;
                    height: 389px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &__wave2{
                    position: absolute;
                    bottom:0;
                    width: 1613px;
                    height: 373px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &__wave3{
                    position: absolute;
                    bottom:0;
                    width: 1723px;
                    height: 312px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        &_2{
            padding-top: 65px;
            padding-bottom: 9px;
            background-color: #FFFFFF;
            position: relative;
            overflow: hidden;

            @nest & .page{
                &__title{
                    line-height: 1;
                    margin-bottom: 70px;
                    text-align: center;
                }
            }
        }

        &_3{
            padding-top: 135px;
            padding-bottom: 136px;
            background-color: #0e3f7a;
            overflow: hidden;
            position: relative;

            @nest & .page{
                &__title{
                    margin-bottom: 80px;
                    color: #FFF;
                    text-align: center;
                    max-width: 700px;
                }

                &__bg{
                    margin: 0 auto;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
        }

        &_4{
            padding: 120px 64px 85px 64px;
            background-color: #FFF;
        }

        &_5{
            padding-top: 103px;
            padding-bottom: 110px;
            background-color: #17457e;
            background-image: url(../images/pricing-bg.jpg);
            background-size: cover;
            background-repeat: no-repeat;

            @nest & .page{
                &__title {
                    text-align: center;
                    margin-bottom: 20px;
                    color: #FFF;
                }
                &__subtitle {
                    margin-bottom: 44px;
                    color: #FFF;
                }
            }
        }

        &_6{
            padding-top: 94px;
            padding-bottom: 123px;
            background-color: #FFF;
            color: #393f4c;

            @nest & .page{
                &__title {
                    margin-bottom: 25px;
                }
                &__subtitle {
                    max-width: 700px;
                    margin-bottom: 40px;
                    padding: 0 20px;
                }
            }
        }

        &_7{
            padding-top: 48px;
            padding-bottom: 120px;
            background-color: #1d1d1d;
            color: #aaa9a9;
        }
    }
}
