.pricing{
    @apply --content-wrapper;
    padding: 0;

    &__tabs{
        font-size: 0;
        text-align: center;
        margin-bottom: 58px;
        color: #FFF;
    }

    &__tab-text{
        position: relative;
        display: inline-block;
    }

    &__tab{
        margin-right: -1px;
        font-size: 16px;
        border: 1px solid #456b98;
        padding: 9px 35px;
        background-color: transparent;
        display: inline-block;
        font-weight: 900;
        cursor: pointer;

        &:hover{
            background-color: color(#456b98 alpha(20%))
        }

        &:first-child{
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        &:last-child{
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        &_selected{
            background-color: #456b98;
            &:hover{
                background-color: #456b98;
            }
            @nest & .pricing{
                &__tab-text{
                    &:before{
                        content: '•';
                        display: inline-block;
                        margin-right: 11px;
                        position: absolute;
                        left: -15px;
                        top: -1px;
                    }
                }
            }

        }
    }

    &__cards{
        margin-bottom: 39px;
        text-align: justify;
        &:after{
            content: '';
            width: 100%;
            height: 0;
            display: inline-block;
        }
    }

    &__card{
        display: inline-block;
        width: calc(33% - 16px);
    }

    &__compare-link{
        color: #FFF;
        font-size: 18px;
        text-align: center;
    }
}
