.testimonials{
    &__icon{
        height: 48px;
        width: 76px;
        background-image: url('./../images/testimonials-icon.png');
        margin-bottom: 57px;
        display: inline-block;
    }
    &__cards{
        height: 390px;
    }
    &__card{
        text-align: center;
        transform: translateX(-2%);
        opacity: 0;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        transition-delay: 0s;
        pointer-events: none;
        position: absolute;
        left: 10px;
        right: 10px;


        &_active{
            opacity: 1;
            transform: translateX(0%);
            transition-delay: 0.3s;
            pointer-events: auto;
        }
    }
    &__text{
        font-size: 28px;
        font-style: italic;
        padding: 0 6%;
        margin: 0 auto;
        margin-bottom: 50px;
        text-align: center;
        line-height: 1.3;
        cursor: pointer;
        max-width: 1024px;
    }
    &__author{
        margin-bottom: 65px;
    }
    &__avatar{
        display: inline-block;
        margin-right: 22px;
    }
    &__avatar-img{
        border-radius: 10px;
        width: 70px;
        height: 70px;
        background-size: contain;
    }
    &__desc{
        position: relative;
        top: 14px;
        display: inline-block;
        font-size: 18px;
        vertical-align: top;
        text-align: left;
    }
    &__name{
        font-weight: 500;
    }
    &__position{

    }

    &__dots{
        text-align: center;
        padding-top: 48px;
    }

    &__dot{
        height: 12px;
        width: 12px;
        display: inline-block;
        margin: 0 2px;
        cursor: pointer;
        position: relative;
        padding: 4px;

        &_active{
            @nest & .testimonials{
                &__dot-round{
                    background-color: #03cea4;
                }
            }
        }
    }

    &__dot-round{
        background-color: #ebecec;
        height: 8px;
        width: 8px;
        border-radius: 4px;
        position: absolute;
        top: 2px;
        left: 2px;
    }
}
