.tools{
    color: #393f4c;

    &__switchers{
        text-align: justify;

        &:before{
            content: '';
            display: block;
            border-top: 1px solid #e5e5e5;
            height: 1px;
            width: 100vw;
            position: absolute;
            top: 132px;
            left: 50%;
            transform: translateX(-50%);
        }

        &:after{
            content: '';
            width: 100%;
            height: 0;
            display: inline-block;
        }
    }

    &__switcher{
        text-align: center;
        display: inline-block;
        position: relative;
        cursor: pointer;

        &:hover{
            @nest & .tools{
                &__switcher-icon{
                    background-color: color(#13bf80 alpha(70%));

                    &_active{
                        &:hover{
                            background-color: #0d3e7e;
                        }
                    }

                }
            }
        }

        &_active{
            @nest & .tools{
                &__switcher-icon{
                    background-color: #0d3e7e;
                    &:hover{
                        background-color: #0d3e7e;
                    }

                }
            }

            &:after{
                content: '';
                display: block;
                position: absolute;
                border-top: 1px solid #0d3e7e;
                bottom: -29px;
                left: -27px;
                right: -27px;
            }
        }
    }

    &__switchers{
        margin-bottom: 130px;
        padding: 0 40px;
        position: relative;
    }

    &__switcher-icon{
        position: relative;
        width: 70px;
        height: 70px;
        background-color: #13bf80;
        border-radius: 15px;
        transition: background-color .2s ease-in-out;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    &__switcher-icon-img{
        position: absolute;
        top: 50%;
        bottom: 0;
        left: 50%;
        width: 61%;
        transform: translate(-50%, -50%);
        height: 69%;
    }

    &__switcher-text{
        font-size: 16px;
        color: #393f4c;
        font-weight: 900;
    }

    &__text-title{
        font-size: 38px;
        margin-bottom: 24px;
        font-weight: 700;
    }

    &__text-subtitle{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 12px;
        line-height: 1.4;
    }

    &__text-content{
        font-size: 18px;
        margin-bottom: 26px;
        line-height: 1.4;
    }

    &__text{
        position: relative;
        width: 325px;
        margin-bottom: 135px;
        opacity: 0;
        transition: opacity 0.6s linear;
    }

    &__screen{
        position: absolute;
        top: -50px;
        left: 385px;
        height: 550px;
        width: 790px;
        opacity: 0;
        transition: opacity 0.6s linear;

    }

    &__screen-img{
        position: absolute;
        top: 0;
        right: -70px;
        height: 100%;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        transition: right 0.6s ease-in-out;

        &_1{
            background-image: url('./../images/tools-slide1.jpg');
        }
        &_2{
            background-image: url('./../images/tools-slide2.jpg');
        }
        &_3{
            background-image: url('./../images/tools-slide3.jpg');
        }
        &_4{
            background-image: url('./../images/tools-slide4.jpg');
        }
        &_5{
            background-image: url('./../images/tools-slide5.jpg');
        }
        &_6{
            background-image: url('./../images/tools-slide6.jpg');
        }
    }

    &__content{
        height: 480px;
    }

    &__content-slide{
        position: absolute;
        opacity: 0;
        transition: opacity 0.2s linear;
        cursor: pointer;

        &_active{
            opacity: 1;


            @nest & .tools {
                &__text {
                    opacity: 1;
                }
                &__screen{
                    opacity: 1;
                }
                &__screen-img{
                    right: 0;
                }
            }

        }
    }


}
