.topline{
    box-sizing: border-box;
    padding: 19px 20px;
    position: relative;
    color: #FFFFFF;
    line-height: 34px;
    max-width: 1280px;
    margin: 0 auto;

    &__left{
        display: inline-block;
    }

    &__logo{
        display: inline-block;
        height: 18px;
        width: 75px;
        margin-right: 17px;
        background-image: url(../images/logo.svg);
        background-repeat: no-repeat;
        line-height: 32px;
        vertical-align: middle;
        position: relative;
        top: -4px;
        background-size: 75px 18px;

    }
    &__links{
        display: inline-block;
    }
    &__link{
        display: inline-block;
        font-size: 16px;
        color: color(#FFF alpha(50%));
        margin-left: 11px;
        vertical-align: top;
        &_signin{
            position: relative;
            top: 0;
            margin-left: 5px;
        }
    }

    &__login{
        display: inline-block;
        vertical-align: middle;
        float: right;
    }

    &__login-delimiter{
        margin: 0 3px 0 11px;
        color: color(#FFF alpha(20%));
        font-size: 16px;
        position: relative;
        top: -1px;
    }
}
